autopep8
certifi
charset-normalizer
click
colorama
docopt
experta
Flask
Flask-Cors
frozendict
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
mysql-connector-python
numpy
pandas
pipreqs
protobuf
pycodestyle
python-dateutil
pytz
requests
schema
scikit-learn
scipy
six
threadpoolctl
tomli
urllib3
Werkzeug
yarg
zipp
